@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.mapContainer {
  flex: 1;
  height: 78vh;
}
.mapContainer button.getLocation {
  box-shadow: 0 0 10px var(--primary-600);
  z-index: 1000;
}
.map {
  height: 100%;
}
